---
---

body {
  font-family: 'Merriweather', serif;
}

.year {
  font-weight: bold;
  font-family: sans-serif;
  background: #efefef;
  color: #999;
  padding: 0.5em;
}

.institution {
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background: #f58220;
  color: white;
  padding: 0.5em;
}
